*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
}
a{
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #03e9f4;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 70px;
}
a:hover{
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
                -webkit-box-reflect: below 1px linear-gradient(transparent, #0005 );
                
}